:root {

  --bg: #09090B;
  --card: #16181D;
  --border: #27272A;

  --text: #FAFAFA;
  --muted: #A1A1AA;

  --accent: #3B82F6;

  --font-heading: 'Inter', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

}