@import "tailwindcss";

@import "./styles/theme.css";
@import "./styles/typography.css";

html,
body {
  margin: 0;
  padding: 0;

  background: var(--bg);
  color: var(--text);

  font-family: var(--font-body);

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}